.idea/*
.vscode/*
*.pro
/Inscription2/app-assets
/Inscription2/assets
/public/index.php
nkap-scour_v8.sql
/nkap-scour_v9.sql
nkap-scour_v10.sql
nkap-scour_v9.sql
nkap-scour_v10.sql
nkap-scour_v9.sql
config/config.php
